*,
*::before,
*::after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    min-height: 100vh;
    background: #eee;
    color: #777;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
}

.container {
    padding-bottom: 5em;
    width: 960px;
    margin: 0 auto;
}

header {
    background: #fff;
    border-bottom: 2px solid #ccc;
    color: #99a3ad;
    height: 5.7em;
}

.header__logo {
    display: inline-block;
    padding: 0.7em 1.1em;
    background: #4aaaa5;
    color: #fff;
    font-size: 2.2em;
}

nav {
    float: right;
    padding: 1.8em 0;
    font-size: 1.1em;
}

nav ul {
    list-style: none;
}

.nav-list__item {
    display: inline-block;
    padding: 0 1em;
    border-right: 1px solid #eee;
}

.nav-list__item a {
    color: inherit;
    text-decoration: none;
}

.nav-list__item:last-child {
    border-right: 0;
}

main {
    position: relative;
}

.section-about,
.section-portfolio,
.section-contact {
    margin: 50px 0;
    padding: 2em;
    background: #fff;
    border: 1px solid #ddd;
}

.section__title {
    padding: 0.1em 0 0.7em;
    border-bottom: 3px solid #c9cfd4;
    color: #4aaaa5;
    font-size: 2.2em;
}

.section__content {
    padding: 1.7em 1em 0.4em 0;
}

.section-about p {
    margin-top: -0.3em;
    font-size: 1.1em;
    line-height: 2em;
}

.section-about img {
    float: left;
    width: 12em;
    padding-right: 1.6em;
}

.project {
    position: relative;
    margin: 0 2em 2em 0;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.portfolio-projects img {
    width: 20em;
}

.project__label {
    position: absolute;
    width: 98.5%;
    bottom: 1.2em;
    padding: 1em 0;
    background: #4aaaa5;
}

.contact-field {
    margin-bottom: 1em;
}

.contact-field input,
.contact-field textarea {
    width: 100%;
    margin-top: 0.6em;
    padding: 0.6em 0.9em;
    border: 1px solid #ccc;
    color: #777;
    font-size: 0.9em;
}

.contact-field textarea {
    height: 14em;
}

.contact-field__button input {
    padding: 0.6em 2em;
    background: #4aaaa5;
    border: 1px solid;
    color: #fff;
    font-size: 1em;
}

.contact-field__button input:hover {
    background: #52bdb7;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4em 0 0.8em;
    background: #666;
    border-top: 8px solid #4aaaa5;
    color: #ddd;
    font-size: 0.8em;
    text-align: center;
}